  	<!--banner-->
	<section id="banner" class="banner">
		<div class="bg-color">
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
			  	<div class="col-md-12">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="#"><img src="/images/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
				    </div>
				    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#banner">Home</a></li>
								<li class=""><a href="#">Account</a></li>
				        <li class=""><a href="#service">Services</a></li>
								<li class=""><a href="/gallery">Gallery</a></li>
				        <li class=""><a href="#about">About</a></li>
				        <li class=""><a href="#contact">Contact</a></li>
				      </ul>
				    </div>
				</div>
			  </div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="banner-info">
						<div class="banner-logo text-center">
							<img src="/images/logo.png" class="img-responsive">
						</div>
						<div class="banner-text text-center">
							<h1 class="white">Organic Dog Grooming</h1>
							<p>
                No harsh chemicals, we groom your dog with only organically made products.
								<br>Give your dog the best kind of grooming.
              </p>
							<br>
							<a href="/login" class="btn btn-appoint">MAKE AN APPOINTMENT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ banner-->
	<!--service-->
	<section id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">

					<!--==============SERVICES================-->
					<h2 class="ser-title">Our Services</h2>
					<hr class="botm-line">
					<p>
            We are commited to treat your dogs as our guests. Not only the best
						ingredients will be used in their grooming but they will
						also have the best treatment.
          </p>
					<p> We love dogs, this is why we do what we do. </p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="icon-info">
							<h4> BASIC PACKAGE </h4>
							<ul>
								<li> Gentle Bath </li>
								<li> Trimming of the Eye, Sanitary, and Pawpads Areas </li>
								<li> Nail Filing </li>
								<li> Ear Cleaning and Plucking </li>
								<li> Expression of the Anal Glands </li>
								<li> Fluff-Out Gentle Drying </li>
								<li> Natural Cologne </li>
								<li> Bandana or Bow </li>
							</ul>
							<p> $40: XS-S (Under 15lbs) </p>
							<p> $48: M-L (Under 40lbs) </p>
							<p> $58: XL-XXL (Under 100lbs) </p>
						</div>
					</div>

					<div class="service-info">
						<div class="icon">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="icon-info">
							<h4> PREMIUM PACKAGE </h4>
							<p> Everything in the Basic Package plus: </p>
							<ul>
								<li> Stylish Haircut </li>
								<li> Teeth Brushing </li>
							</ul>
							<p> $50: XS-S (Under 15lbs) </p>
							<p> $58: M-L (Under 40lbs) </p>
							<p> $68: XL-XXL (Under 100lbs) </p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="icon-info">
							<h4> ADD-ONS </h4>
							<p> Add any extra service to the package of choice: </p>
							<ul>
								<li> Nail Painting </li>
								<li> Extra Brushing (Dematting) </li>
								<li> De-shedding </li>
								<li> Flea Dip </li>
								<li> Chalking </li>
								<li> Feathering </li>
								<li> Stenciling </li>
								<li> Three Profesionally Taken Pictures </li>
							</ul>
							<p> +$10 each </p>
						</div>
					</div>

					<div class="service-info">
						<div class="icon">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="icon-info">
							<h4> DELUXE PACKAGE </h4>
							<p> Everything in the Premium Package plus: </p>
							<ul>
								<li> Soothing Massage </li>
								<li> Professionally Taken Picture </li>
							</ul>
							<p> $60: XS-S (Under 15lbs) </p>
							<p> $70: M-L (Under 40lbs) </p>
							<p> $80: XL-XXL (Under 100lbs) </p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--==============END OF SERVICES================-->

	<!--testimonial-->
	<section id="testimonial" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">see what patients are saying?</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/thumb.png" alt="" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Alex<span>Texas</span></h3>
					</div>
				</div>
					<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/thumb.png" alt="" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Alex<span>Texas</span></h3>
					</div>
				</div>
					<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/thumb.png" alt="" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Alex<span>Texas</span></h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ testimonial-->

	<!--about-->
	<section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line">The Grooming <br>Ultimate Dream</h2>
			          <hr class="botm-line">
			          <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
			          </div>
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
                        </div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
	<!--/ about-->
	<!--Woof team-->
	<section id="doctor-team" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Meet Our Team</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist1.jpeg" alt="..." class="team-img">
			        <div class="caption">
			          <h3>Jessica Mason</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist2.jpeg" alt="..." class="team-img">
			        <div class="caption">
			          <h3>Matthew Hall</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist3.jpeg" alt="..." class="team-img">
			        <div class="caption">
			          <h3>Brandon Gonzalez</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist4.jpeg" alt="..." class="team-img">
			        <div class="caption">
			          <h3>Jason Larson</h3>
			          <p>Photographer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			</div>
		</div>
	</section>
	<!--/ Woof team-->

	<!--footer-->
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">Contact Us</h4>
							</div>
							<div class="info-sec">
						      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>321 Awesome Street<br>
						        Miami, FL 33131</p>
									<p><i class="fa fa-clock-o fa-fw pull-left fa-2x"></i>Opening Hours: Mon-Sat 8am-6pm</p><br>
									<p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 305 123 1234</p><br>
						      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>hello@woofgroomers.com</p><br>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Follow us</h4>
						</div>
						<div class="info-sec">
							<ul class="social-icon">
								<li class="bglight-blue"><i class="fa fa-facebook"></i></li>
								<li class="bgred"><i class="fa fa-google-plus"></i></li>
								<li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
								<li class="bglight-blue"><i class="fa fa-twitter"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->
