  	<!--banner-->
	<section id="banner" class="banner">
		<div class="bg-color">
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
			  	<div class="col-md-12">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="#"><img src="/images/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
				    </div>
				    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="/">Home</a></li>
								<% if (currentUser) { %>
									<li><a href="/dashboard">Account</a></li>
								<% } else { %>
									<li><a href="#" data-toggle="modal" data-target="#myModal">Account</a></li>
								<% } %>
				        <li><a href="/services">Services</a></li>
								<li><a href="/gallery">Gallery</a></li>
				        <li><a href="#about">About</a></li>
				        <li><a href="#contact">Contact</a></li>
								<% if (currentUser) { %>
									<li><a href="/logout">Log Out</a></li>
								<% } %>
				      </ul>
				    </div>
				</div>
			  </div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="banner-info">
						<div class="banner-logo text-center">
							<img src="/images/logo.png" class="img-responsive">
						</div>
						<div class="banner-text text-center">
							<h1 class="white">Organic Dog Grooming</h1>
							<p>
                No harsh chemicals, we groom your dog with only organically made products.
								<br>Give your dog the best kind of grooming.
              </p>
							<br>

							<!-- Button trigger login modal-->
							<% if (currentUser) { %>
								<!-- If the user is signed in take them to the dashboard -->
								<a href="/dashboard" class="btn btn-appoint">
									MAKE AN APPOINTMENT
								</a>
							<% } else { %>
								<!-- Else, show the user the login/register modal -->
								<button type="button" class="btn btn-appoint" data-toggle="modal" data-target="#myModal">
									MAKE AN APPOINTMENT
								</button>
							<% } %>

							<!-- Login/Register Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">Log In</h4>
							      </div>
							      <div class="modal-body">
											<!-- LOG IN -->
							        <h3>Welcome Back!</h3>
							        <div class="space"></div>

							        <form action="/login" method="post" role="form" id="login">
							          <div class="form-group">
							            <input type="email" class="form-control br-radius-zero" name="loginEmail" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email address" />
							          </div>
							          <div class="form-group">
							            <input type="password" class="form-control br-radius-zero" name="loginPassword" id="subject" placeholder="Your Password" data-rule="minlen:4" data-msg="Please enter at least 8 characters" />
							          </div>
							          <div class="form-action">
							            <button type="submit" class="btn btn-form btn-login">LOG IN NOW</button>
							          </div>
							        </form>
						    			<!-- REGISTER -->
											<div class="space"></div>
					            <h3 class="cnt-ttl">First Time? Register</h3>
					            <p>Sign up today and get 10% off your first visit</p>
											<div class="space"></div>
					            <a href="/signup" class="btn btn-form">SIGN UP NOW</a>

							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
							      </div>
							    </div>
							  </div>
							</div>
							<!-- End of Login/Register Modal -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ banner-->

	<!--about-->
	<section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line">The Grooming <br>Ultimate Dream</h2>
			          <hr class="botm-line">
			          <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
			          </div>
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>It's something important you want to know.</h3>
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.</p>
				        </div>
                        </div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
	<!--/ about-->

	<!--Woof team-->
	<section id="doctor-team" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Meet Our Team</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist1.jpeg" class="team-img">
			        <div class="caption">
			          <h3>Jessica Mason</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist2.jpeg" class="team-img">
			        <div class="caption">
			          <h3>Matthew Hall</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist3.jpeg" class="team-img">
			        <div class="caption">
			          <h3>Brandon Gonzalez</h3>
			          <p>Groomer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">
			      	<img src="/images/specialist4.jpeg" class="team-img">
			        <div class="caption">
			          <h3>Jason Larson</h3>
			          <p>Photographer</p>
			          <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			</div>
		</div>
	</section>
	<!--/ Woof team-->

	<!--testimonial-->
	<section id="testimonial" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">what our customers are saying</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/customer1.png" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Alex<span>Texas</span></h3>
					</div>
				</div>
					<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/customer2.jpg" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Anna<span>Luca</span></h3>
					</div>
				</div>
					<div class="col-md-4 col-sm-4">
					<div class="testi-details">
						<!-- Paragraph -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="testi-info">
						<!-- User Image -->
						<a href="#"><img src="/images/customer3.jpg" alt="" class="img-responsive"></a>
						<!-- User Name -->
						<h3>Tom<span>Ryan</span></h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ testimonial-->

	<!--footer-->
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding" id="contact">Contact Us</h4>
							</div>
							<div class="info-sec">
						      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>321 Awesome Street<br>
						        Miami, FL 33131</p>
									<p><i class="fa fa-clock-o fa-fw pull-left fa-2x"></i>Opening Hours: Mon-Sat 8am-6pm</p><br>
									<p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 305 123 1234</p><br>
						      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>hello@woofgroomers.com</p><br>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Follow us</h4>
						</div>
						<div class="info-sec">
							<ul class="social-icon">
								<li class="bglight-blue"><i class="fa fa-facebook"></i></li>
								<li class="bgred"><i class="fa fa-google-plus"></i></li>
								<li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
								<li class="bglight-blue"><i class="fa fa-twitter"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->
