<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="book pet grooming services online, organic and natural">
    <meta name="keywords" content="pet, dog, grooming, online services">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <%- body %>


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="contactform/contactform.js"></script>
  </body>
</html>
