body {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	background: #f7f7f7;
	color: #999999;
	font-size: 300;
	font-size: 17px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222222;
}
a, a:hover, a:focus, a:active{
    outline: none;
}

.section-padding{
	padding: 60px 0px;

}
h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
	font-family: 'Chewy', cursive;
	font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(70, 173, 112, 0.9);
}

.white, .white:hover, .white:focus
{
	color: #fff;
	width: 100% !important;
}
.block
{
	display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(77, 218, 135, 0.2);
}
.navbar-default .navbar-nav > li > a
{
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #fff;
    text-transform: uppercase;
    background-color: rgba(77, 218, 135, 0.2);
}
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182) !important;
}
#banner{
	background: url('../images/bg-banner.jpg') no-repeat fixed;
	background-size: cover;
	min-height: 650px;
	position: relative;
}
.bg-color{
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 700px;
}
.banner-info{
	padding-top: 190px;
}
.banner-logo img{
	display: inline-block;
}
.banner-text{
	color: #fff;
}
.banner-text h1{
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	padding-bottom:15px;
}
.btn-appoint, .btn-appoint:focus{
	margin-top: 30px;
	padding: 10px 20px;
	font-size: 14px;
	background-color: rgba(77, 218, 135, 0.7);
	border-radius: 3px;
	color: #fff;
}

.btn-appoint:hover {
	color: #fff;
	background-color: rgba(77, 218, 135, 0.9);
}

.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}
/***************************************
services
***************************************/
.icon i{
	color: rgba(70, 173, 112, 1);
	font-size: 45px;
	margin-bottom: 25px;
}
.service-info{
	margin-bottom: 20px;
}
.icon-info h4{
	padding-bottom: 15px;
}

.icon-info ul{
	list-style-type: disc;
}
/***************************************
cta-1
***************************************/
.schedule-tab {
	background-color: #ffb737;
	float: left;
}
.medi-info{
	border-right: 1px solid #fff;
}
.medi-info, .time-info{
	padding: 20px;
	color: #fff;
}
.medi-info h3, .time-info h3{
	padding-bottom: 16px;
	color: #fff;
	font-weight: 600;
}
.medi-info-btn, .medi-info-btn:hover, .medi-info-btn:focus {
    margin: 15px 0px 5px;
    display: inline-block;
    border: solid white 2px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 400 !important;
    cursor: pointer;
}
td {
    border: 0px solid #ededed;
    border-top: 1px solid rgba(216, 216, 216, 0.5);
    padding: 6px 10px 6px 0;
}
.medi-info, .time-info{
    font-size: 14px;
}
/***************************************
about
***************************************/
#about{
    background-color: rgba(238, 238, 238, 0.15);
}
.lg-line{
	line-height: 1.4;
	font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: rgba(70, 173, 112, 0.9);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
	margin-left: 80px;
	margin-bottom: 35px;
}
.sec-para{
	padding-bottom: 10px;
}
/***************************************
groomers team
***************************************/
.thumbnail {
	border-radius: 0px;
}
.caption h3{
    padding-bottom: 5px;
}
.caption p{
    padding-bottom: 10px;
}
/***************************************
testimonial
***************************************/
#testimonial{
    background-color: #eee;
}
.testi-details {
    background: #fff;
    padding: 14px 24px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.18);
    position: relative;
}
.testi-info a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.testi-info a img{
	border-radius: 50%;
}
.testi-info h3 {
    display: inline-block;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
}
.testi-info h3 > span {
    display: block;
    line-height: 16px;
    font-weight: 400;
}
.testi-details::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    bottom: -40px;
    left: 56px;
    border-top-color: #fff;
    border-width: 20px;
}
.testi-details::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: 45px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    z-index: -1;
    box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
    border-left: 0;
}
/***************************************
cta -2
***************************************/
#cta-2{
	background-color: rgb(41, 48, 46);
}
.white{
	color: #F5F5F5;
}
.icon-play, .icon-play:hover, .icon-play:focus{
	background-color: #0CB8B6;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	padding: 5px 17px;
	margin-top: 26px;
	display: block;
}
.text-primary {
    color: #0cb8b6;
}
.icon-mar
{
	margin-right: 7px;
}
/***************************************
contact us
***************************************/
.space {
    margin-top: 40px;
}
.btn-form {
    background-color: rgba(70, 173, 112, 0.9);
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
}

.btn-login {
	color: #fff;
	background-color: rgba(51, 122, 183, 0.9);
}

.btn-form:hover, .btn-form:focus {
	color: #fff;
	background-color: rgba(255, 183, 55, 0.9);
}

.br-radius-zero {
    border-radius: 0px;
}
.form-control{
	height: 40px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

/***************************************
footer
***************************************/
#footer{
	background-color: rgba(41, 48, 46, 1);
}
.ftr-tle {
    height: 50px;
}
.info-sec {
    color: #fff;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #fff;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}
@media (min-width: 551px) and (max-width: 980px){

}
@media (min-width: 220px) and (max-width: 551px){
    .testi-info{
        margin-bottom: 20px;
    }
    .marb20{
        margin-top: 30px;
    }
    h2{
        font-size: 24px;
        line-height: 1.2;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
    }
    .service-info{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .caption h3 {
    font-size: 14px;
    }
    .caption p{
    font-size: 12px;
    padding-bottom: 5px;
    }
    .caption ul li a i{
        font-size: 14px;
    }
    .banner-text h1{
        font-size: 24px;
    }
		.navbar-toggle {
			background-color: rgba(221, 221, 221, 0.6);
		}
}

/*FOR THE GALLERY PAGE*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}

.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  z-index: 999;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  font-size: 15px;
  border: 2px solid #fff;
  line-height: 25px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}

.modal-content {
	background-color: rgba(255, 255, 255, 0.9);
}
.modal-body p {
	color: darkgrey;
}

@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}
/*---------------------------------------------------*/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
	position: fixed;
	width: inherit;
	max-width: inherit;
	border: 1px solid lightgray;
}

@media (max-width: 900px) {
	.profile-sidebar {
		position: static;
	}
}

.profile-content {
	border: 1px solid lightgray;
}

.panel-body p {
	font-size: 16px;
}

.fa-trash {
	color: red;
}


.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 500px;
}

.btn, .btn-success, .btn-sm {
	background-color: rgba(70, 173, 112, 0.9);
}

.panel, .panel-primary {
	text-align: center;
	border-radius: 0;
	border: 2px solid rgba(70, 173, 112, 0.9);
	padding
}

.panel-primary>.panel-heading {
	border-radius: 0;
	border: none;
	background-color: rgba(70, 173, 112, 0.9);
}

.panel-primary>.panel-clear {
	border-radius: 0;
	border-bottom: 2px solid rgba(70, 173, 112, 0.9);
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0;
}

.date-month {
	font-size: 40px;
}

.date-day {
	font-size: 60px;
}

.col-md-4 {
	padding: 15px 20px;
}

@media (min-width: 992px){
	.fixed-sidebar {
		width: 19%;
	}
}

@media (min-width: 768px) {
	.fixed-sidebar {
		width: 19%;
	}
}
