<h2> Dashboard </h2>

<a href="/book-appointment"></a> Schedule an Appointment </a>

<% myPets.forEach((pet) => { %>
  <p> <%= pet.petsName %> </p>
<% }); %>

<% myBookings.forEach((booking) => { %>
  <p> <%= booking.chosenPackage %> </p>
<% }); %>
