<form action="/new-pet" method="post" role="form" id="signup" class="contactForm">
  <div class="form-group">
    <input type="text" name="petsName" class="form-control br-radius-zero"
           id="name" placeholder="Your Full Name" data-rule="minlen:4"
           data-msg="Please enter at least 4 characters" />
  </div>
  <div class="form-group">
    <input type="email" class="form-control br-radius-zero" name="signupEmail"
           id="email" placeholder="Your Email" data-rule="email"
           data-msg="Please enter a valid email address" />
  </div>
  <div class="form-group">
    <input type="tel" class="form-control br-radius-zero" name="signupPhoneNumber"
           id="email" placeholder="Your Phone Number (Optional)" data-rule="email"/>
  </div>
  <div class="form-group">
    <input type="password" class="form-control br-radius-zero" name="signupPassword"
           id="subject" placeholder="Your Password" data-rule="minlen:4"
           data-msg="Please enter at least 8 characters" />
  </div>
  <div class="form-action">
    <button type="submit" class="btn btn-form">SAVE PET</button>
  </div>
</form>
