<form action="/new-pet" method="post" role="form" id="signup" enctype="multipart/form-data">
  <div class="form-group">
    <input type="text" name="petsName" class="form-control br-radius-zero"
           id="name" placeholder="Your Pet's Name" data-rule="minlen:4"
           data-msg="Please enter at least 4 characters" />
  </div>
  <div class="form-group">
    <input type="text" class="form-control br-radius-zero" name="petsBreed"
           id="breed" placeholder="Pet's Breed" data-rule="email"
           data-msg="Please enter a valid email address" />
  </div>
  <div class="form-group">
    <input type="number" class="form-control br-radius-zero" name="petsAge"
           id="age" placeholder="Pet's Age (Optional)" data-rule="email"/>
  </div>
  <div class="form-group">
    <input type="file" class="form-control br-radius-zero" name="petsPicture"
           id="picture" placeholder="Pet's Picture (Optional)" />
  </div>
  <div class="form-action">
    <button type="submit" class="btn btn-form">SAVE PET</button>
  </div>
</form>
