<h2> Sign Up </h2>

<p> Registered customers get 10% off one of our services, each visit! </p>

<!-- we use typeof here to avoid an error since the variable
sometimes doesn't exist -->
<% if (typeof messageForDumbUsers === 'string') { %>
  <p class="error-message"> <%= messageForDumbUsers %> </p>
<% } %>

<form id="form" action="/signup" method="post">
  <label for="full-name"> Full Name: </label>
  <input id="full-name" type="text" name="signupFullName"
         placeholder="Alan Turing">
  <br>

  <label for="email"> Email Address: </label>
  <input id="username" type="email" name="signupUsername"
  placeholder="example@domain.com">
  <br>

  <label for="username"> Username: </label>
  <input id="username" type="text" name="signupUsername"
         placeholder="turingator">
  <br>

  <label for="password"> Password </label>
  <input id="password" type="password" name="signupPassword"
         placeholder="*******">
  <br>
  <br>

  <button> Sign Up Now </button>
</form>

<!-- <a href="/auth/facebook"> Sign Up with Facebook </a>
<br>
<a href="/auth/google"> Sign Up with Google+ </a>
<br> -->
